.choice-container{
     display: flex;
     margin-bottom: 0.5rem;
     width: 100%;
     border:0.2k mrem solid rgb(86,165,235,0.25);
     background-color: white;
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;

}
.choice-prefix{
    padding:1.5rem 2.5rem;
    background-color: #56a5eb;
    color:white;
    font-size: 1.5rem;
}
.choice-text{
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 100%;
}
.correct{
    background-color: rgb(78, 177, 78);
}
.incorrect{
    background-color: rgb(226, 77, 77);
}
/*hud*/
#hud{
    display: flex;
    justify-content: space-between;
    
}
.hud-prefix{
    text-align: center;
    font-size: 2rem;
}
.hud-main-text{
    text-align: center;
}